

<!--------------- *start of enquiry Section* ----------------->
<section class="enquiry">
	<div class="form-group">
		<div class="label">
			<label for="enquiry">enquiry</label>
		</div>
		<div class="input">
			<input type="text" name="enquiry" id="enquiry" />
		</div>
	</div>
	<div class="form-group">
		<div class="label">
			<label for="timeline">timeline</label>
		</div>
		<div class="input">
			<input type="text" name="timeline" id="timeline" />
		</div>
	</div>
	<div class="form-group">
		<div class="label">
			<label for="desc">description</label>
		</div>
		<div class="input">
			<input type="text" name="desc" id="desc" />
		</div>
	</div>
	<div class="form-group">
		<div class="label">
			<label for="notes">Notes</label>
		</div>
		<div class="input">
			<textarea name="notes" id="notes"  rows="4"></textarea>
		</div>
	</div>
    <div class="form-group">
        <button type="submit">
            <i class="bx bx-send"></i>
			Send
        </button>
    </div>
</section>
<!----------------- *end of enquiry Section* ----------------->

<!--------------- *start of footer Section* ----------------->


<!----------------- *end of footer Section* ----------------->
