	<section class="about">
		<div class="about__bg"></div>
		<div class="about__container">
			<div class="left"></div>
			<div class="right">
				<h2>About Soarex</h2>
				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum
					possimus corporis, natus unde quia doloribus?
				</p>
				<div class="cards">
					<article class="card"></article>
					<article class="card"></article>
				</div>
			</div>
		</div>
	</section>

<!--------------- *start of ambition Section* ----------------->
<section class="ambition">
	<div class="ambition__mission">
		<i class="bx bxs-low-vision"></i>
		<div class="content">
			<h3>We got this going</h3>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel autem,
				assumenda exercitationem omnis nisi itaque. Lorem ipsum, dolor sit amet
				consectetur adipisicing elit. Accusantium aliquid sapiente laboriosam
				mollitia?
			</p>
		</div>
	</div>
	<div class="ambition__mission">
		<i class="bx bxs-low-vision"></i>
		<div class="content">
			<h3>We got this going</h3>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel autem,
				assumenda exercitationem omnis nisi itaque. Lorem ipsum, dolor sit amet
				consectetur adipisicing elit. Accusantium aliquid sapiente laboriosam
				mollitia?
			</p>
		</div>
	</div>
</section>
<!----------------- *end of ambition Section* ----------------->

<!--------------- *start of footer Section* ----------------->


<!----------------- *end of footer Section* ----------------->
