@use "../../../scss/base/colors" as *;
@use "../../../scss/util" as *;

.about {
	&__bg {
		position: absolute;
		left: 0;
		top: 0;
		background: $primary2-color;
		width: 100vw;
		height: calc(100vh - 4rem);
		border-radius: 0 0 8rem 0;
		@include breakpoint-down(medium) {
			height: 120vh;
		}
		@include breakpoint-down(small) {
			height: 190vh;
		}
	}
	&__container {
		position: relative;
		margin: 8rem 0 0 5rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
		height: calc(100vh - 17rem);
		@include breakpoint-down(medium) {
			// display: flex;
			grid-template-columns: 1fr;

			height: fit-content;
		}
		@include breakpoint-down(small) {
			margin-top: 3rem;
		}
		.left {
			width: 90%;
			margin: 0 auto;
			height: 100%;
			background: $secondary-color;
			@include breakpoint-down(medium) {
				height: 60vh;
			}
		}
		.right {
			padding: 1.5rem;
			color: $secondary-color;
			@include breakpoint-down(medium) {
				margin-bottom: 2rem;
			}
			h2 {
				text-align: center;
				font-weight: 700;
				font-size: 1.8rem;
			}
			p {
				font-size: 0.98rem;
			}
			.cards {
				display: grid;
				grid-template-columns: 1fr 1fr;
				margin-top: 1rem;
				.card {
					width: calc(100% - 2rem);
					height: 12rem;
					gap: 2rem;
					background: $primary2-color;
					border-radius: 1rem;
					box-shadow: 0 0 1rem rgba($primary-color, 0.5);
				}
				@include breakpoint-down(small) {
					grid-template-columns: 1fr;
					gap: 2rem;
					width: 99%;
					margin: 1rem auto 0;
				}
			}
		}
	}
}

.ambition {
	position: relative;
	margin: 9rem 0 12rem;
	padding: 2rem 5rem;
	@include breakpoint-down(medium) {
		margin-bottom: 6rem;
	}

	width: 100vw;
	height: fit-content;
	background: $primary2-color;
	color: $secondary-color;

	&__mission {
		display: flex;
		gap: 2rem;
		margin-bottom: 3rem;

		i {
			font-size: 2rem;
		}
		h3 {
			font-size: 1.4rem;
			font-weight: 700;
		}
	}
}

.footer {
	&.about {
		margin-top: 12rem;
	}
}
