@use "../base/colors" as *;


@mixin button($bg-color, $color) {
	background-color: $bg-color;
	color: $color !important;
	padding: 0.4rem 0.8rem;
	border-radius: 0.8rem;
	box-shadow: 0 0 1rem rgba($bg-color, 0.5);
	width: fit-content;
}

@mixin card($width, $height, $bg-color, $color) {
	width: $width;
	min-height: $height;
	background: $bg-color;
	color: $color;
}

@mixin buttonFWidth($p-color: $primary-color, $s-color: $secondary-color) {
	margin-top: 0.4rem;
	width: 100%;
	height: 2rem;
	border-radius: 0.5rem;
	background: $p-color;
	color: $s-color;
	font-size: 1.5rem;
	cursor: pointer;
	i {
		transform: rotate(-40deg);
	}
	&:hover {
		box-shadow: 0 0 1rem rgba($s-color, 0.5);
		transform: scale(1.01);
	}
}
