<footer class="footer" [class]="util">
	<div class="footer__container">
		<div class="footer__logo">
			<h3>SOAREX</h3>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi vero
				officia odit.
			</p>
		</div>
		<div class="footer__links">
			<h2>Permalinks</h2>
			<ul class="footer__items">
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Get Started</a></li>
			</ul>
		</div>
		<div class="footer__privacy">
			<h2>Privacy</h2>
			<ul>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Terms and Conditions</a></li>
			</ul>
		</div>
		<div class="footer__contact-us">
			<h2>Contact Us</h2>
			<small>{{settings?.phone}}</small>
			<small>{{settings?.email}}</small>
			<div class="icons">
				<a href="#"><i class="bx bxl-facebook"></i></a
				><a href="#"><i class="bx bxl-instagram"></i></a
				><a href="#"><i class="bx bxl-twitter"></i></a
				><a href="#"><i class="bx bxl-linkedin"></i></a>
			</div>
		</div>
	</div>
	<div class="copyright">
		<h2>Copyright &copy; 2022 Soarex</h2>
	</div>
</footer>
