<div class="feedback">
    <div class="form-group">
		<div class="label">
			<label for="title">Title</label>
		</div>
		<div class="input">
			<input type="text" name="title" id="title" />
		</div>
	</div>
	<div class="form-group">
		<div class="label">
			<label for="desc">Description</label>
		</div>
		<div class="input">
			<input type="text" name="desc" id="desc" />
		</div>
	</div>
    <div class="form-group">
        <button type="submit">
            <i class="bx bx-send"></i>
			Send
        </button>
    </div>
</div>
